<app-navbar></app-navbar>

<div class="body">
    <div class="row">
        <app-condocsvencidos class="col-xs-12 col-sm-6 col-md-6"></app-condocsvencidos>
        <app-comisionesdoc class="col-xs-12 col-sm-6 col-md-6"></app-comisionesdoc>
        <app-repasociado class="col-xs-12 col-sm-6 col-md-6"></app-repasociado>
        <app-contractivos class="col-xs-12 col-sm-6 col-md-6"></app-contractivos>
        <app-comisionescobrar class="col-xs-12 col-sm-6 col-md-6"></app-comisionescobrar>
        <app-clientesasociados class="col-xs-12 col-sm-6 col-md-6"></app-clientesasociados>
    </div>
</div>
